
/* FRONTPAGE */
.frontpage-body{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
      font-weight: 400;
    font-style: normal;
    height: 100%;
    margin: 44vh 0;
    left: 44vw;
    top: 2vw;
    background-color: black;
    color: rgb(184,184,184);
}
.frontpage-title{
    position: absolute;
    top: 0;
}
.frontpage-form{
    position: absolute;
}
.frontpage-motto{
    position: absolute;
    top: 4vw;
}


/* ACCOUNT */
.message-title{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
      font-weight: 500;
    font-style: normal;
}
.message-list{
    float: left;
}
.message-list li{
    float: left;
    list-style: none;
    position: relative;
}
.message-list li a{
    display: fixed;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
      font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 14px;
    padding: 16px 14px;
    text-decoration: none;
}
.message-list li a:hover{
    background-color: grey;
}
.message-list li ul{
    display: none;
    position: absolute;
}
.message-list li:hover ul{
    display: inline-grid;
}
